/* Body */
body{
    background: url(../img/bg/concrete_seamless.png);
}

/* Navbar */
.navbar{
    transition: .5s;
}

.nav-item{
    opacity: 0;
    transform: translate(0, -50px);
    transition: 1s;
}

.navbar-brand{
    font-size: 32px;
}

.logo{
    width: 45px;
    margin-top: -10px;
    margin-right: 5px;
}

div.jumbotron a img.logo{
    margin-bottom: -10px;
    margin-left: 5px;
}

/* Jumbotron */
.jumbotron{
    background-image: url(../img/bg/bg1.jpg);
    background-size: cover;
    height: 540px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.jumbotron .container{
    position: relative;
    z-index: 1;
}

.jumbotron::after{
    content: '';
    display: block;
    width: 100%;
    height: 80%;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
}

.jumbotron .display-4{
    color: #fff;
    margin-top: 150px;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
    font-size: 40px;
    margin-bottom: 30px;
}

.jumbotron .display-4 span{
    font-weight: 500;
}

.jumbotron a:hover img,
a.navbar-brand:hover img{
    transform: rotate(360deg);
    transition: .5s;
}

/* Info Panel */
.info-panel{
    box-shadow: 0 3px 20px rgba(0,0,0,0.5);
    border-radius: 12px;
    background-color: #fff;
    margin-top: -100px;
    padding: 30px;
}

.info-panel img{
    width: 60px;
    height: 60px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.info-panel h4{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
}

.info-panel p{
    font-size: 10px;
    color: #4a4a4a;
    margin-top: -5px;
    font-weight: 200;
}

/* Info */
.info h1{
    margin-top: 100px;
}

.pkiri,
.pkanan{
    transform: rotate(45deg) translate(-70px, -50px);
    opacity: 0; 
    transition: 1s;
}

.pkanan{
    transform: rotate(-45deg) translate(70px, -50px);
}

.info .content{
    margin-top: 30px;
}

/* Gallery */
.figure{
    opacity: 0;
    transform: translate(0, -20px);
    transition: 1s;
}

.figure img{
    cursor: zoom-in;
}

div.galleryfocus{
    opacity: 0;
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: -99;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

div.galleryfocus img{
    cursor: zoom-out;
    width: 500px;
}

/* Berita */
section.berita img{
    width: 500px;
}

.bkiri,
.bkanan{
    opacity: 0;
    transform: translate(-100px, -50px);
    transition: 1s;
}

.bkanan{
    transform: translate(100px, -50px);
}

/* Contact Us */
section.contact .col-lg-4,
section.contact .col-lg-6{
    opacity: 0;
    transform: translate(-100px, -150px) rotate(45deg);
    transition: 1s;
}

section.contact .col-lg-6{
    transform: translate(100px, -250px) rotate(-45deg);
}

/* Pendaftaran */
.pendaftaran .judul{
    margin-top: 130px;
    font-weight: bold;
}

/* Pengurus */
.pengurus img{
    width: 100px;
    margin: auto;
}

.pengurus .card{
    text-align: center;
    padding-top: 20px;
}

/* Jadwal */
section.jadwal table{
    background-color: rgba(0, 0, 0, .1);
}

/* Footer */
footer.copyright{
    height: 50px;
    line-height: 50px;
    position: relative;
    bottom: 0;
}

footer.copyright span{
    color: #acacac;
    font-size: 18px;
}

footer.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}

/* Utility */
.pendaftaran form,
#pengurus,
.jadwal table{
    background-color: rgba(0, 0, 0, .3);
    padding: 20px;
    border-radius: 20px;
}

.tombol{
    text-transform: uppercase;
    border-radius: 40px;
    padding: 15px;
}

section{
    margin-bottom: 100px;
}

.judul{
    font-weight: bold;
}

.muncul,
section.contact div.muncul,
h1.muncul,
.colinfo.muncul{
    opacity: 1;
    transform: rotate(0) translate(0,0);
}

.colinfo,
.judul{
    opacity: 0;
    transform: translate(0, -40px);
    transition: .5s;
}

.judul{
    transition: 1s;
}

section.container{
    margin-top: 150px;
}

@media (min-width: 992px){
    .navbar-brand, .nav-link{
        color: #fff !important;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
    }

    .nav-link{
        text-transform: uppercase;
        margin-right: 30px;
    }

    .nav-link:hover::after{
        content: '';
        display: block;
        border-bottom: 3px solid #0b63dc;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .info-panel img{
        width: 80px;
        height: 80px;
    }

    .info-panel h4{
        font-size: 16px;
    }

    .info-panel p{
        font-size: 14px;
    }

    .jumbotron{
        margin-top: -75px;
        height: 640px;
    }

    .jumbotron .display-4{
        font-size: 62px;
    }

    .workingspace{
        text-align: left;
    }
    
    .testimonial h5{
        font-size: 32px;
    }
}